.header {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(95, 79, 73, 0.6);
  height: 72px;
  z-index: 100;
}
.header__box {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  background-color: transparent;
}
.header__nav {
  align-items: center;
  text-align: center;
  display: flex;
}
.header__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  text-align: center;
}
.header__link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #fdfcfc;
}
.header__sociallist {
  display: flex;
  gap: 16px;
  align-items: center;
}
.my_logo {
  fill: black;
  color: aqua;
  background-color: rgba(255, 255, 255, 0.5);
}
.my_rect {
  fill-opacity: 1;
}
